{% extends "public.html" %} {% block page %}
<div class="q-pa-sm" style="width: 240px; margin: 10px auto">
  <q-card class="my-card">
    <div class="column">
      <div class="col">
        <center>
          <q-btn
            flat
            round
            dense
            @click="openCompose"
            icon="face"
            style="font-size: 60px"
          ></q-btn>
        </center>
      </div>
      <center>
        <div class="col" style="margin: 15px; font-size: 22px">
          Title: {% raw %} {{ copilot.title }} {% endraw %}
        </div>
      </center>
      <q-separator></q-separator>
      <div class="col">
        <div class="row">
          <div class="col">
            <q-btn
              class="q-mt-sm q-ml-sm"
              color="primary"
              @click="fullscreenToggle"
              label="Screen share"
              size="sm"
            >
            </q-btn>
          </div>
        </div>
        <div class="row q-pa-sm">
          <div class="col">
            <q-btn
              style="width: 95%"
              color="primary"
              @click="animationBTN(name = 'rocket')"
              label="rocket"
              size="sm"
            />
          </div>
          <div class="col">
            <q-btn
              style="width: 95%"
              color="primary"
              @click="animationBTN(name = 'rocket')"
              label="confetti"
              size="sm"
            />
          </div>
          <div class="col">
            <q-btn
              style="width: 95%"
              color="primary"
              @click="animationBTN(name = 'rocket')"
              label="face"
              size="sm"
            />
          </div>
        </div>
        <div class="row q-pa-sm">
          <div class="col">
            <q-btn
              style="width: 95%"
              color="primary"
              @click="animationBTN(name = 'rocket')"
              label="rick"
              size="sm"
            />
          </div>
          <div class="col">
            <q-btn
              style="width: 95%"
              color="primary"
              @click="animationBTN(name = 'rocket')"
              label="martijn"
              size="sm"
            />
          </div>
          <div class="col">
            <q-btn
              style="width: 95%"
              color="primary"
              @click="animationBTN(name = 'rocket')"
              label="bitcoin"
              size="sm"
            />
          </div>
        </div>
        <br/>
        <q-separator></q-separator>
        <br/>
        
        <div class="row q-pa-sm">
          <p>Launch Chat</p>
            <q-input dense outlined v-model="chatcost" label="Sat cost per message"></q-input>
          
        </div>
        <div class="row q-pa-sm">
            <q-input dense outlined v-model="chatid" label="Chat ID">
              <template v-slot:append>
                <q-icon name="add_circle" @click="createChatID()" class="cursor-pointer"><q-tooltip>genrate an ID</q-tooltip></q-icon>
              </template>
      
              <template v-slot:hint>
                Chat ID
              </template>
            </q-input>
          </div>
          <div class="row q-pa-sm">
            <q-btn class="primary" label="Make chat" @click="animationBTN(name = 'chat')"></q-btn>
          </div>
      </div>
    </div>
  </q-card>
</div>

{% endblock %} {% block scripts %}
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        fullscreen_cam: true,
        textareaModel: '',
        iframe: '',
        copilot: {},
        chatcost: '',
        chatid: ''
      }
    },
    methods: {
      iframeChange: function (url) {
        this.connection.send(String(url))
      },
      fullscreenToggle: function () {
        self = this
        self.animationBTN(String(this.fullscreen_cam))
        if (this.fullscreen_cam) {
          this.fullscreen_cam = false
        } else {
          this.fullscreen_cam = true
        }
      },
      openCompose: function () {
        let params =
          'scrollbars=no, resizable=no,status=no,location=no,toolbar=no,menubar=no,width=1200,height=644,left=410,top=100'
        open('../cp/', 'test', params)
      },
      createChatID: function () {
        uuid = Quasar.utils.uid().substring(0, 13)
        console.log(uuid)
        this.chatid = uuid
      },
      animationBTN: function (data = "none", name = "none") {
        self = this
        LNbits.api
          .request(
            'GET',
            '/copilot/api/v1/copilot/ws/' + self.copilot.id + '/' + data +'/' + name
          )
          .then(function (response1) {
            self.$q.notify({
              color: 'green',
              message: 'Sent!'
            })
          })
          .catch(err => {
            LNbits.utils.notifyApiError(err)
          })
      }
    },
    created: function () {
      self = this
      self.copilot = JSON.parse(localStorage.getItem('copilot'))
    }
  })
</script>
{% endblock %}
